/* portfolio css*/
.portfolio-item {
    border-style: solid;
    padding: 2%;
    margin: 4%;
    display: grid;
    grid-gap: 10px;
}

.portfolio-img {
    padding: 5px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.portfolio-text {
    padding: 10px;
    font-size: large;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
